@font-face {
  font-family: 'BBC Reith Sans';
  src: url("BBCReithSans_Bd.TTF"); }
.mobile_show {
  display: none; }

.navbar {
  box-shadow: 0 1px 3px -2px black; }
  .navbar ul {
    width: 100%;
    justify-content: right;
    place-content: center space-around; }
    .navbar ul li {
      font-family: 'Noto Sans'; }

.luftkondensierte .row {
  margin-top: 5px;
  margin-bottom: 5px; }
.luftkondensierte .col-lg-6.text {
  margin-top: 85px; }
.luftkondensierte .head_text {
  color: #1652AC;
  font-size: 48px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 55px; }
.luftkondensierte .sub_text {
  font-family: 'BBC Reith Sans';
  letter-spacing: -0.4px;
  line-height: 32px;
  margin-top: 20px;
  border-top: 7px solid #EDEFF3;
  border-bottom: 7px solid #EDEFF3;
  padding: 50px 0 50px 0;
  color: #020303;
  font-size: 17px;
  font-weight: 600;
  font-style: normal; }
.luftkondensierte .head_section_2 {
  font-family: 'BBC Reith Sans';
  line-height: 32px;
  color: #1652AC;
  font-size: 20px;
  font-weight: 600;
  font-style: normal; }
.luftkondensierte .sub_text_section_2 {
  font-family: 'BBC Reith Sans';
  line-height: 32px;
  color: #45494F;
  font-size: 17px;
  font-weight: 1000;
  font-style: normal; }

.modernste img {
  width: 100%;
  height: 100%; }
.modernste .custom-pr-mr-0 {
  padding-right: 0;
  margin-right: 0; }
.modernste .cl-bg {
  padding-top: 150px;
  background: linear-gradient(180deg, #163DA2 0%, #003584 100%); }
  .modernste .cl-bg .head-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    font-family: 'Noto Sans'; }
  .modernste .cl-bg .sub-text {
    margin-top: 22px;
    color: white;
    font-size: 17px;
    font-family: 'Noto Sans';
    line-height: 32px; }

.unsere .row {
  margin-bottom: -300px; }
.unsere .col-lg-6 {
  margin-top: 85px; }
.unsere img {
  width: 100%;
  height: 50%;
  object-fit: cover; }
.unsere .head_section_1 {
  font-family: 'BBC Reith Sans';
  text-transform: uppercase;
  line-height: 40px;
  margin-left: 60px;
  padding-top: 30px;
  color: #1652AC;
  font-size: 20px;
  font-weight: 700;
  font-style: normal; }
.unsere .sub_text_section_1 {
  font-family: 'Noto Sans';
  font-size: 17px;
  color: #45494F;
  line-height: 32px;
  margin-left: 60px;
  padding-top: 10px; }

.vorteile {
  background: #FBFBFC; }
  .vorteile .head {
    padding-top: 85px;
    margin-bottom: 30px;
    color: #020303;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-family: 'BBC Reith Sans'; }
  .vorteile .custom-card {
    background: white;
    height: 135px;
    border: 10px solid #FBFBFC; }
    .vorteile .custom-card .row {
      place-content: center space-around;
      height: 100%;
      border-radius: 20px;
      box-shadow: 0 0 5px gray; }
      .vorteile .custom-card .row .col-lg-3 img {
        margin-left: 40px; }
      .vorteile .custom-card .row .card_text {
        color: #45494F;
        font-size: 19px;
        font-weight: 500;
        font-style: normal;
        font-family: 'Noto Sans';
        margin-top: 10px; }

.hauptmerkmale {
  margin-top: 85px;
  padding-top: 30px;
  margin-left: 85px;
  margin-right: 85px;
  border-radius: 20px;
  box-shadow: 0 0 5px gray; }
  .hauptmerkmale .head {
    padding-top: 30px;
    padding-bottom: 50px;
    color: #020303;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    font-family: "BBC Reith Sans"; }
  .hauptmerkmale ul {
    padding-top: 10px;
    margin-bottom: 50px; }
  .hauptmerkmale li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family: 'Noto Sans';
    font-size: 17px;
    color: #45494F;
    line-height: 32px;
    border: 0px 0px 0px 0px; }

.bilder {
  margin-top: 50px;
  margin-bottom: 50px; }
  .bilder .main_text {
    font-family: BBC Reith Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 4.42px;
    margin-bottom: 30px; }
  .bilder .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='1f70ff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
  .bilder .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='1f70ff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
  .bilder .head_text {
    font-family: BBC Reith Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    margin-top: 130px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2.42px;
    color: #020303; }
  .bilder .custom_btn {
    height: 64px;
    background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
    border-radius: 12px;
    width: 100%;
    font-family: 'BBC Reith Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    color: #FAFBFE;
    letter-spacing: 1.42px; }
  .bilder .none {
    display: none; }
  .bilder .carousel-indicators {
    right: -140px;
    bottom: -84px; }
    .bilder .carousel-indicators button {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #80ABFF;
      margin: 0 20px 0 20px;
      border: 1px solid #0045AC; }
    .bilder .carousel-indicators button.active {
      background: linear-gradient(180deg, #005BE4 0%, rgba(0, 96, 241, 0) 100%), #004FC7;
      border: 1px solid #BED8FF; }
  .bilder .right {
    right: 55%; }
  .bilder .left, .bilder .right {
    top: 105%;
    opacity: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
    border-radius: 8px;
    width: 125px;
    height: 75px; }

.footer01 {
  background: white; }
  .footer01 .container {
    padding-top: 75px;
    padding-bottom: 55px;
    border-top: 2px solid #EDEFF3;
    border-bottom: 2px solid #EDEFF3; }
    .footer01 .container .head_text {
      font-family: BBC Reith Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 34px;
      line-height: 43px;
      letter-spacing: -0.4px;
      color: #1652AC;
      margin-top: 75px; }
    .footer01 .container .sub_text {
      font-family: Noto Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 32px;
      letter-spacing: -0.4px;
      color: #464C53; }
    .footer01 .container .custom_btn {
      height: 64px;
      background: linear-gradient(180deg, #0C5CD6 0%, rgba(0, 56, 140, 0) 100%), #004FC7;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
      border-radius: 12px;
      width: 100%;
      font-family: 'BBC Reith Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 40px;
      color: #FAFBFE;
      letter-spacing: 1.42px;
      margin-left: 500px;
      margin-right: 500px; }
    .footer01 .container .custom-pr-mr-1 {
      padding-top: 35px;
      padding-bottom: 25px; }

.footer02 {
  background: white; }
  .footer02 .container {
    padding-top: 75px;
    padding-bottom: 55px; }

@media (max-width: 828px) {
  .mobile_show {
    display: inline; }

  .mobile_hide {
    display: none; }

  .luftkondensierte .head_text {
    text-align: center;
    border-bottom: 7px solid #EDEFF3;
    padding-bottom: 50px; }
  .luftkondensierte .sub-text {
    border: none;
    color: #020303;
    font-size: 32px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: -0.004em; }
  .luftkondensierte .head_section_2 {
    margin-left: 200px;
    margin-right: 50px;
    padding-right: 100px;
    text-align: center;
    letter-spacing: 2.42px;
    line-height: 40px; }

  .modernste .head-text {
    text-align: center;
    letter-spacing: 2.42px; }
  .modernste .cl-bg {
    padding: 50px 100px 50px 0px;
    margin-right: 300px; }

  .hauptmerkmale ul {
    padding-top: none;
    margin-bottom: none; }

  .bilder .carousel-indicators {
    right: 0; }

  .unsere .col-lg-6 {
    margin-top: 0; }
    .unsere .col-lg-6 img {
      width: 139%;
      margin-left: -141px;
      height: 50%;
      object-fit: unset; }
      .unsere .col-lg-6 img.custom-h-100 {
        height: 100%; } }

/*# sourceMappingURL=style.css.map */
